body{
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.b-blog-list{
    margin:80px auto;
    height: auto;
    overflow:visible;
    height: 100%;
}
    
.b-blog-list_directory{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "黑体", sans-serif;
    padding: 20px 30px;
    line-height: 40px;

}
.b-blog-list_directorytop{
    line-height: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f7f7f7;
}
.b-blog-list_directorybottom{
    background-color: #f7f7f7;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    border-bottom: 1px solid #bbb;
}
.b-blog-list_directory a{
    border: 1px dashed #fff;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

}
.b-blog-list_directory a:hover{
    border: 1px dashed #aaa;
    color:purple;
    cursor: pointer;
    text-decoration: none;
}

/****************左边栏开始********************/
.b-blog-ll{
    margin-left: 85px;
    float: left;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
}

.b-blog-ll-single{
    overflow:auto;
    border-bottom: 1px solid #bbb;
    /*Mozilla内核*/
    -moz-transition:box-shadow 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:box-shadow 0.2s linear;
    /*Opera*/
    -o-transition:box-shadow 0.2s linear;
    /*W3C 标准*/
    transition:box-shadow 0.2s linear;
}
.b-blog-ll-single:hover{
    cursor: pointer;
    box-shadow: 0px 0px 35px #e1e1e1 inset;
}

.b-blog-ll-sp{
    width: 100px;
    height : 100px;
    margin: 0 auto;
    margin-right: 20px;
    background-color: #584b4f;
    border-radius: 10px;
}

.b-blog-ll-sh{
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #ccc;
    
}

.b-blog-ll-shtag{
    float: left;
    margin-right: 10px;
    border-radius: 40px;
    padding: 0px 30px;
    border: 1px solid #666;
    /*Mozilla内核*/
    -moz-transition:box-shadow 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:box-shadow 0.2s linear;
    /*Opera*/
    -o-transition:box-shadow 0.2s linear;
    /*W3C 标准*/
    transition:box-shadow 0.2s linear;
}
.b-blog-ll-shtag:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px #888;
    color: blueviolet;
    border: 1px solid blueviolet;
    
}
.b-blog-ll-shtag a{
    color: #666;
}
.b-blog-ll-shtag a:hover{
    color: blueviolet;
    text-decoration: none;
}

.b-blog-ll-middle{
    float: left;
}
.b-blog-ll-minner{
    float: left;
}

.b-blog-ll-smheader{
    margin-left: 40px;
    margin-right: 40px;
    overflow: auto;
}

.b-blog-ll-smtitle{
    font-family: Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;
    line-height: 70px;
    font-size: 20px;
    height: 70px;
    width: 150px;
    float: left;
}

.b-blog-ll-smtitle span{
    /*Mozilla内核*/
    -moz-transition:color 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.2s linear;
    /*Opera*/
    -o-transition:color 0.2s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
}
.b-blog-ll-smtitle span:hover{
    color: burlywood;
}
.b-blog-ll-smgrade{
    height: 70px;
    width: 150px;
    float: right;
    line-height: 70px;
}
.b-blog-ll-smgrade i{
    /*Mozilla内核*/
    -moz-transition:color 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.2s linear;
    /*Opera*/
    -o-transition:color 0.2s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
    color: #8E8E8E;
}
.b-blog-ll-smgrade i:hover{
    color:coral;
}

.b-blog-ll-smcontent{
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: 1.8em;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 0.01em;
    color: #8E8E8E;
    font-size: 12px;
    /*Mozilla内核*/
    -moz-transition:color 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.2s linear;
    /*Opera*/
    -o-transition:color 0.2s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
}
.b-blog-ll-smcontent:hover{
    color: black;
}
.b-blog-ll-time{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 20px;
    font-size: 12px;
    color: mediumpurple;
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
}

.b-blog-ll-smbottom{
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-top:1px solid #eee;
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
}

.b-blog-ll-smbottom span{
    
    line-height: 40px;
    font-size: 12px;
    /*Mozilla内核*/
    -moz-transition:color 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.2s linear;
    /*Opera*/
    -o-transition:color 0.2s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
}

.b-blog-ll-smbottom span:hover{
    color: burlywood;
}
.b-blog-ll-smbottom i{
    font-size: 13px;
    /*Mozilla内核*/
    -moz-transition:color 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.2s linear;
    /*Opera*/
    -o-transition:color 0.2s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
}
.b-blog-ll-smbottom i:hover{
    color:burlywood;
}
.b-blog-ll-sb{
    float: left;
    display: none;
}
.b-blog-ll-sb_click{
    float: left;
    display: block;
}

.b-blog-ll-sbsingle{
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    padding: 5px 0;
    
    /*Mozilla内核*/
    -moz-transition:background-color 0.5s linear;
    /*Webkit内核*/
    -webkit-transition:background-color 0.5s linear;
    /*Opera*/
    -o-transition:background-color 0.5s linear;
    /*W3C 标准*/
    transition:background-color 0.35s linear;
}
.b-blog-ll-sbsingle:hover{
    background-color: #F5F5DC;
}
.b-blog-ll-sbsingle-pic{
    width: 25px;
    height: 25px;
    border-radius: 25px;  
    -webkit-border-radius: 25px;  
    -moz-border-radius: 25px;  
    -khtml-border-radius: 25px;
    margin-left: 20px;
    float: left;
    border: 1px solid #DEDEDE;
    margin-top: 8px;
    
    
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif; 
    font-size: 10px;
    line-height: 25px;
    text-align: center;
}
.b-blog-ll-sbsingle-introduce{
    height: 25px;
    width: 530px;
    float: right;
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
}
.b-blog-ll-sbsingle-review{
    width: 530px;
    float: right;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
}
.b-blog-ll-sbsingle-ro{
    margin-top: 10px;
}
.b-blog-ll-sbsingle-readmore{
    width: 530px;
    margin-left: 40px;
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
    padding: 10px 0px;
    margin-bottom: 30px;
    
}
.b-blog-ll-sbsingle-readmore span{
    /*Mozilla内核*/
    -moz-transition:color 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.2s linear;
    /*Opera*/
    -o-transition:color 0.2s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
}
.b-blog-ll-sbsingle-readmore span:hover{
    color:chocolate;
}

/****************左边栏结束********************/






/****************右边栏开始********************/
.b-blog-lr{
    margin-top: 20px;
    float: right;
    margin-right: 85px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #ccc;
    border: 1px solid #bbb;
    background-color: #f7f7f7;
}
.b-blog-lr:hover{
    cursor: pointer;
}

.b-blog-lr-header{
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.b-blog-lr-hinner{
    border-radius: 10px 10px 0px 0px;
    padding-top: 30px;
}

.b-blog-lr-hi-pic{
    width: 80px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    border-radius: 50px;
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
    color: darkgrey;
    margin-bottom: 10px;
    box-shadow: 0 0 5px;
    
    
    /*Mozilla内核*/
    -moz-transition:box-shadow 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:box-shadow 0.2s linear;
    /*Opera*/
    -o-transition:box-shadow 0.2s linear;
    /*W3C 标准*/
    transition:box-shadow 0.2s linear;
}
.b-blog-lr-hi-pic:hover{
    cursor: pointer;
    box-shadow: 0 0 20px;
}
.b-blog-lr-hi-introduce{
    background-color: white;
    margin-top: 30px;
    padding: 20px 0;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
    
    /*Mozilla内核*/
    -moz-transition:box-shadow 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:box-shadow 0.2s linear;
    /*Opera*/
    -o-transition:box-shadow 0.2s linear;
    /*W3C 标准*/
    transition:box-shadow 0.2s linear;
}
.b-blog-lr-hi-introduce:hover{
    box-shadow: 0px 0px 20px #e6e6e6 inset;
}
.b-blog-lr-hii-name i{
    font-size: 14px;
    margin-right: 10px;
}
.b-blog-lr-hii-name{
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #584B4F;
}
.b-blog-lr-hii-email{
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #584B4F;
}
.b-blog-lr-hii-email i{
    font-size: 12px;
    margin-right: 10px;
}

.b-blog-lr-hii-createtime{
    font-family: "Helvetica Neue", Helvetica,"微软雅黑", sans-serif;
    font-size: 12px;
    text-align: center;
    color:#584B4F;
}


.b-blog-lr-content{
    background-color: white;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica,"幼圆", sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /*Mozilla内核*/
    -moz-transition:box-shadow 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:box-shadow 0.2s linear;
    /*Opera*/
    -o-transition:box-shadow 0.2s linear;
    /*W3C 标准*/
    transition:box-shadow 0.2s linear;
}
.b-blog-lr-content:hover{
    box-shadow: 0px 0px 20px #e6e6e6 inset;
}
.b-blog-lr-count{
    background-color: white;
    /*Mozilla内核*/
    -moz-transition:box-shadow 0.2s linear;
    /*Webkit内核*/
    -webkit-transition:box-shadow 0.2s linear;
    /*Opera*/
    -o-transition:box-shadow 0.2s linear;
    /*W3C 标准*/
    transition:box-shadow 0.2s linear;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #bbb;
    float: left;
    border-bottom: 1px solid #bbb;
    margin-bottom: 45px;
}
.b-blog-lr-count:hover{
    box-shadow: 0px 0px 20px #e6e6e6 inset;
}
.b-blog-lr-cblogs{
    font-family: "Helvetica Neue", Helvetica,"微软雅黑", sans-serif;
    text-align: center;
    width: 80px;
    float: left;
    height: 50px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
    /*Mozilla内核*/
    -moz-transition:background-color 0.3s linear;
    /*Webkit内核*/
    -webkit-transition:background-color 0.3s linear;
    /*Opera*/
    -o-transition:background-color 0.3s linear;
    /*W3C 标准*/
    transition:background-color 0.3s linear;
}
.b-blog-lr-cblogs:hover{
    background-color: #f9f9f9;
}
.b-blog-lr-creviews{
    font-family: "Helvetica Neue", Helvetica,"微软雅黑", sans-serif;
    text-align: center;
    width: 88px;
    float: left;
    height: 50px;
    line-height: 25px;
    color: #666;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    /*Mozilla内核*/
    -moz-transition:background-color 0.3s linear;
    /*Webkit内核*/
    -webkit-transition:background-color 0.3s linear;
    /*Opera*/
    -o-transition:background-color 0.3s linear;
    /*W3C 标准*/
    transition:background-color 0.3s linear;
}
.b-blog-lr-creviews:hover{
    background-color: #f9f9f9;
}
.b-blog-lr-cviews{
    font-family: "Helvetica Neue", Helvetica,"微软雅黑", sans-serif;
    text-align: center;
    width: 80px;
    float: left;
    float: left;
    height: 50px;
    line-height: 25px;
    color: #666;
    /*Mozilla内核*/
    -moz-transition:background-color 0.3s linear;
    /*Webkit内核*/
    -webkit-transition:background-color 0.3s linear;
    /*Opera*/
    -o-transition:background-color 0.3s linear;
    /*W3C 标准*/
    transition:background-color 0.3s linear;
}
.b-blog-lr-cviews:hover{
    background-color: #f9f9f9;
}

/****************右边栏结束********************/


