body{
    background-color: #f7f7f7 ;
}
.b-navibar{
}
.b-navibar-main{
    width:1200px;
    margin: 0 auto;
}

.nav_scroll{
    position:fixed;
    width:100%;
    margin:0;
    left:0;
    top:0;
    height: 60px;
}

/***********导航栏左边样式开始*****************/
.b-navibar-left{
    line-height: 60px;
    float: left;
}
.b-navibar-ll{
    float: left;
    margin-right: 20px;
}
.b-navibar-ll a{
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20px;
    
    /*Mozilla内核*/
    -moz-transition:color 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition:color 0.3s ease-in-out;
    /*Opera*/
    -o-transition:color 0.3s ease-in-out;
    /*W3C 标准*/
    transition:color 0.3s ease-in-out;
}
.b-navibar-ll a:hover{
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
}
.b-navibar-lr{
    text-align: center;
    float: left;
}
.b-navibar-lr a{
    line-height: 60px;
    color:#a2a2a2;
    font-family: "PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;
    
    /*Mozilla内核*/
    -moz-transition:color 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition:color 0.3s ease-in-out;
    /*Opera*/
    -o-transition:color 0.3s ease-in-out;
    /*W3C 标准*/
    transition:color 0.3s ease-in-out;
}
.b-navibar-lr a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.b-navibar-a{
    float: left;
    margin: 0px 15px;
    font-size: 13px;
    
    /*Mozilla内核*/
    -moz-transition:border 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition:border 0.3s ease-in-out;
    /*Opera*/
    -o-transition:border 0.3s ease-in-out;
    /*W3C 标准*/
    transition:border 0.3s ease-in-out;
}
.b-navibar-a{
    cursor: pointer;
}
/***********导航栏左边样式结束*****************/


/***********导航栏右边样式开始*****************/

.b-navibar-right{
    float: right;
}

.b-navibar-r-form{
    float: right;
}
.b-navibar-r-sousuo{
    float: right;
}
.b-navibar-r-sousuo p:hover{
    
}

.b-navibar-r-input{
    width: 200px;
    height: auto;
    border:solid 1px #b2b2b2;  
    border-radius: 20px;  
    -webkit-border-radius: 20px;  
    -moz-border-radius: 20px;  
    -khtml-border-radius: 20px;
    float: left;
    background-color: white;
    margin-top: 16px;
}

.span_icon i{
    font-size: 12px;
}
      
.b-navibar-r-input span{
    margin: 1px auto;
    margin-left: 10px;
    float: left;  
}
.b-navibar-r-input span i{
    margin-left: 0px; 
}
.b-navibar-r-input i{
    color:darkgrey;
}
.b-navibar-r-input i:hover{
    color:deepskyblue;
    cursor: pointer;
}
.searchText{
    font-size: 12px;
	font-family: "Arial","YouYuan","黑体","宋体",sans-serif;
    border: none;
    width: 140px;
    margin: 3px 6px;
    outline: 0 none;
    float: left;
}

.index_main{
    margin: 60px auto;
    width: 1200px;
    overflow: visible;
}

.index_main_header{
    text-align: center;
    padding: 25px 0px;
}
.index_main_header_i{
    color: #d6d6d6;
}
.index_main_header_i:hover{
    cursor: pointer;
}
.index_main_header a{
    text-decoration: none;
    font-family: "PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;
    color: #888;
    padding: 0px 20px;
    /*Mozilla内核*/
    -moz-transition:color 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition:color 0.3s ease-in-out;
    /*Opera*/
    -o-transition:color 0.3s ease-in-out;
    /*W3C 标准*/
    transition:color 0.2s ease-in-out;
    
}
.index_main_header a:hover{
    text-decoration: none;
    color: blueviolet;
}
.index_main_displaypanelouter{
    height: 500px;
    perspective: 3000px;
    overflow: visible;
}

.index_main_displaypanel{
    position: absolute;
    border-radius: 10px;
    background-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 20px #ddd;
    
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -moz-transition:transform .1s cubic-bezier(.25,.46,.45,.94);
    /*Webkit内核*/
    -webkit-transition:-webkit-transform .1s cubic-bezier(.25,.46,.45,.94);
    /*Opera*/
    -o-transition:transform .1s cubic-bezier(.25,.46,.45,.94);
    /*W3C 标准*/
    transition:transform .1s cubic-bezier(.25,.46,.45,.94);
}

.index_main_displaypanel_a{
    width: 1200px;
    height: 500px;
    display: block;
    background-image: url(../images/index_display/1.jpg);
    background-size:contain;
    border-radius: 10px;
}

.b-bottom{
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 100%;
}
.index_main_panelbottom{
    position: absolute;
    width: 1200px;
    top: 450px;
    margin: 0 auto;
}
.index_main_panelbottom i{
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 10px;
    /*Mozilla内核*/
    -moz-transition:color 0.3s linear;
    /*Webkit内核*/
    -webkit-transition:color 0.3s linear;
    /*Opera*/
    -o-transition:color 0.3s linear;
    /*W3C 标准*/
    transition:color 0.2s linear;
    border-radius: 10px;
}

.bb-inner .bb-i-l{
    margin: 0 auto;
    line-height: 100px;
    text-align: center;
    
}
.bb-inner .bb-i-l span{
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    display:inline-block;
    line-height:1.4em;
    vertical-align:middle;
}