body {
    background-color: #f7f7f7;
}

iframe {
    z-index: 990;
}

.b-navibar {}

.b-navibar-main {
    width: 1200px;
    margin: 0 auto;
}


.nav_scroll {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    height: 60px;
}


/***********导航栏左边样式开始*****************/

.b-navibar-left {
    line-height: 60px;
    float: left;
}

.b-navibar-ll {
    float: left;
    margin-right: 50px;
}

.b-navibar-ll a {
    color: #888;
    Letter-spacing: 0.1em;
    font-family: "Originalbyfnkfrsh","Helvetica Neue", Helvetica, Arial, sans-serif;
    /*Mozilla内核*/
    -moz-transition: color 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: color 0.3s ease-in-out;
    /*Opera*/
    -o-transition: color 0.3s ease-in-out;
    /*W3C 标准*/
    transition: color 0.3s ease-in-out;
}

.b-navibar-ll a:hover {
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
}

.b-navibar-lr {
    margin-left: 50px;
    text-align: center;
    float: left;
}

.b-navibar-lr a {
    line-height: 60px;
    color: #a2a2a2;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    /*Mozilla内核*/
    -moz-transition: color 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: color 0.3s ease-in-out;
    /*Opera*/
    -o-transition: color 0.3s ease-in-out;
    /*W3C 标准*/
    transition: color 0.3s ease-in-out;
}

.b-navibar-lr a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.b-navibar-a {
    float: left;
    margin-right: 30px;
    font-size: 13px;
    /*Mozilla内核*/
    -moz-transition: border 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: border 0.3s ease-in-out;
    /*Opera*/
    -o-transition: border 0.3s ease-in-out;
    /*W3C 标准*/
    transition: border 0.3s ease-in-out;
}

.b-navibar-a {
    cursor: pointer;
}


/***********导航栏左边样式结束*****************/


/***********导航栏右边样式开始*****************/

.b-navibar-right {
    float: right;
}

.b-navibar-r-form {
    float: right;
}

.b-navibar-r-sousuo {
    float: right;
}

.b-navibar-r-sousuo p:hover {}

.b-navibar-r-input {
    width: 200px;
    height: auto;
    border: solid 1px #b2b2b2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    float: left;
    background-color: white;
    margin-top: 16px;
}

.span_icon i {
    font-size: 12px;
}

.b-navibar-r-input span {
    margin: 1px auto;
    margin-left: 10px;
    float: left;
}

.b-navibar-r-input span i {
    margin-left: 0px;
}

.b-navibar-r-input i {
    color: darkgrey;
}

.b-navibar-r-input i:hover {
    color: deepskyblue;
    cursor: pointer;
}

.searchText {
    font-size: 12px;
    font-family: "Arial", "YouYuan", "黑体", "宋体", sans-serif;
    border: none;
    width: 140px;
    margin: 3px 6px;
    outline: 0 none;
    float: left;
}

.index_main {
    margin: 60px auto;
    width: 1200px;
    overflow: visible;
}

.index_main_header {
    text-align: center;
    padding: 25px 0px;
}

.index_main_header_i {
    color: #d6d6d6;
}

.index_main_header_i:hover {
    cursor: pointer;
}

.index_main_header a {
    text-decoration: none;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    color: #888;
    padding: 0px 20px;
    /*Mozilla内核*/
    -moz-transition: color 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: color 0.3s ease-in-out;
    /*Opera*/
    -o-transition: color 0.3s ease-in-out;
    /*W3C 标准*/
    transition: color 0.2s ease-in-out;
}

.index_main_header a:hover {
    text-decoration: none;
    color: blueviolet;
}

.index_main_displaypanelouter {
    height: 500px;
    perspective: 3000px;
    overflow: visible;
}

.index_main_displaypanel {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: transform .1s cubic-bezier(.25, .46, .45, .94), box-shadow 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: -webkit-transform .1s cubic-bezier(.25, .46, .45, .94), box-shadow 0.3s ease-in-out;
    /*Opera*/
    -o-transition: transform .1s cubic-bezier(.25, .46, .45, .94), box-shadow 0.3s ease-in-out;
    /*W3C 标准*/
    transition: transform .1s cubic-bezier(.25, .46, .45, .94), box-shadow 0.3s ease-in-out;
}

.index_main_displaypanel:hover {
    box-shadow: 0px 0px 50px #aaa;
}

.index_main_displaypanel_a {
    width: 1200px;
    height: 500px;
    display: block;
    background-size: contain;
    border-radius: 10px;
    /*Mozilla内核*/
    -moz-transition: all 0.3s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: opacity 0.3s ease-in-out;
    /*Opera*/
    -o-transition: opacity 0.3s ease-in-out;
    /*W3C 标准*/
    transition: all 0.3s ease-in-out;
}

.index_main_displaypanel_a:hover {
    text-decoration: none;
}

.index_main_displaypanel_a img {
    position: absolute;
    left: 0px;
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    /*Mozilla内核*/
    -moz-transition: opacity 2s ease-in-out;
    /*Webkit内核*/
    -webkit-transition: opacity 2s ease-in-out;
    /*Opera*/
    -o-transition: opacity 2s ease-in-out;
    /*W3C 标准*/
    transition: opacity 2s linear;
}

.img_hide {
    opacity: 0;
}

.index_main_displaypanel_little {
    margin-top: 50px;
    height: 350px;
}

.index_main_displaypanel_little_inner {
    width: 240px;
    height: 100%;
    float: left;
    /*Mozilla内核*/
    -moz-transition: box-shadow 0.5s ease, color 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: box-shadow 0.5s ease, color 0.5s ease;
    /*Opera*/
    -o-transition: box-shadow 0.5s ease, color 0.5s ease;
    /*W3C 标准*/
    transition: box-shadow 0.5s ease,color 0.5s ease;
    background-color: #fff;
    box-shadow: 0px 0px 10px #aaa;
    overflow: hidden;
    border-radius: 5px;
    letter-spacing: 0.3em;
}

.index_main_displaypanel_little_inner img{
    display:block;
    width: 240px;
    position: relative;
    margin-top: 15px;
    
    -webkit-transform-origin:center center;
    -moz-transform-origin:center center;
    -o-transform-origin:center center;
    transform-origin:center center;
    
}
.index_main_displaypanel_little_inner_img{
    -moz-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);
    transform:scale(1.3,1.3);
    
}
.index_main_displaypanel_little_inner_img_{
}

.index_main_displaypanel_little_iheader{
    /*Mozilla内核*/
    -moz-transition:top 0.6s ease,padding 0.6s ease;
    /*Webkit内核*/
    -webkit-transition:top 0.6s ease,padding 0.6s ease;
    /*Opera*/
    -o-transition:top 0.6s ease,padding 0.6s ease;
    /*W3C 标准*/
    transition:top 0.6s ease,padding 0.6s ease;
    font-size: 13px;
    position: relative;
    padding: 25px 0px 10px 0px;
    top: -18px;
    background-color: #9E9996;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "幼圆", STHeiti, "华文细黑", sans-serif;
    text-align: center;
    border-top:1px solid #eee;
    color: white;
    z-index: 20;
}

.index_main_displaypanel_little_ibottom{
    /*Mozilla内核*/
    -moz-transition:bottom 0.6s ease,padding 0.6s ease;
    /*Webkit内核*/
    -webkit-transition:bottom 0.6s ease,padding 0.6s ease;
    /*Opera*/
    -o-transition:bottom 0.6s ease,padding 0.6s ease;
    /*W3C 标准*/
    transition:bottom 0.6s ease,padding 0.6s ease;
    font-size: 13px;
    position: relative;
    padding: 3px 0px 50px 0px;
    bottom: -72px;
    background-color: #615B5B;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    text-align: center;
    border-top:1px solid #eee;
    color: white;
    z-index: 20;
    font-size: 12px;
    letter-spacing: 0.2em;
}
.index_main_displaypanel_little_ibottom span{
    display: block;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "幼圆", STHeiti, "华文细黑", sans-serif;
    letter-spacing: 0.3em;
}

.index_main_displaypanel_little_iheader_{
    padding: 20px 0px;
    top: -3px;
}
.index_main_displaypanel_little_ibottom_{
    padding: 3px 0px 80px 0px;
    bottom: -10px;
}


.index_main_displaypanel_little_inner_right {
    margin-right: 80px;
}

.index_main_displaypanel_little_inner_left {
    margin-left: 30px;
}

.index_main_displaypanel_little_inner:hover {
    box-shadow: 0px 16px 50px #c7c7c7;
    cursor: pointer;
}

.index_main_formal_little_inner_top {
    height: 59px;
    border-radius: 10px 10px 0px 00px;
    border-bottom: 1px solid #ddd;
}

.index_main_formal_little_inner_top span {
    font-size: 18px;
    color: #666;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "幼圆", STHeiti, "华文细黑", sans-serif;
    line-height: 59px;
    margin-left: 30px;
}

.index_main_formal_little_line {
    height: 390px;
    border-left: 1px solid #ddd;
    float: left;
}

.index_main_formal_little_inner {
    width: 298.75px;
    height: 390px;
    float: left;
    /*Mozilla内核*/
    -moz-transition: box-shadow 0.3s ease;
    /*Webkit内核*/
    -webkit-transition: box-shadow 0.3s ease;
    /*Opera*/
    -o-transition: box-shadow 0.3s ease;
    /*W3C 标准*/
    transition: box-shadow 0.3s ease;
}

.index_main_formal_little_inner_left {
    border-radius: 0px 0px 0px 10px;
}

.index_main_formal_little_inner_right {
    border-radius: 0px 0px 10px 0px;
}

.index_main_formal_little_inner:hover {
    box-shadow: 0px 0px 20px #eee inset;
    cursor: pointer;
}

.index_main_blogrecommend {
    margin-top: 50px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.inner_outer{
    margin: 30px 30px 0px 30px;
}
.inner_picture{
    height: 160px;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.inner_picture img{
    
    position: relative;
    left: -5px;
    top: 3px;
    transform-origin: center center;
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}


.index_main_articlerecommend {
    margin-top: 50px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.index_article_inner_outer{
    margin: 30px 30px 0px 30px;
}

.index_article_inner_title{
    height: 60px;
    text-align: center;
    overflow: hidden;
    
}

.index_article_inner_title span{
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    font-size: 20px;
    color: #666;
}
.index_article_inner_introduce{
    padding: 0px 0px;
    overflow: auto;
}
.index_article_inner_in_i{
    text-align: center;
}
.index_article_inner_in_i span{
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    color: #aaa;
    padding: 2px 10px;
    
}
.index_article_inner_content{
    margin-top: 30px;
    height: 160px;
    overflow: hidden;
    text-align: center;
}
.index_article_inner_content span{
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    color: #666;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    
}

.index_article_inner_readmore{
    margin-top: 35px;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}
.index_article_inner_readmore a{
    font-size: 16px;
    color: #999;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    /*Mozilla内核*/
    -moz-transition: color 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: color 0.5s ease;
    /*Opera*/
    -o-transition: color 0.5s ease;
    /*W3C 标准*/
    transition: color 0.5s ease;
}
.index_article_inner_readmore a:hover{
    color: #333;
    text-decoration: none;
}

.index_object_inner_outer{
    margin: 30px 30px 0px 30px;
}
.index_object_inner_picture{
    height: 230px;
    border-radius: 5px;
    overflow: hidden;
}
.index_object_inner_picture img{
    position: relative;
    width: 250px;
    height: 250px;
    left: -7px;
    top: -10px;
}
.index_object_inner_in_i{
    margin-top: 6px;
    text-align: center;
}
.index_object_inner_in_i span{
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    color: #aaa;
    padding: 2px 0px;
}
.index_object_inner_title{
    margin-top: 25px;
    text-align: center;
}
.index_object_inner_title span{
    font-size: 16px;
    color: #666;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}
.index_object_inner_readmore{
    margin-top: 10px;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #777;
    
}
.index_object_inner_readmore a{
    font-size: 16px;
    color: #777;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    /*Mozilla内核*/
    -moz-transition: color 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: color 0.5s ease;
    /*Opera*/
    -o-transition: color 0.5s ease;
    /*W3C 标准*/
    transition: color 0.5s ease;
}
.index_object_inner_readmore a:hover{
    color: #333;
    text-decoration: none;
}


.inner_title{
    margin: 30px 0px 10px;
    text-align: center;
    height: 50px;
}
.inner_title span{
    font-size: 15px;
    letter-spacing: 0.1em;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}
.inner_about{
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #aaa;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}
.inner_bottom{
    
    margin-top: 30px;
}
.inner_bottom a{
    font-size: 16px;
    color: #999;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    /*Mozilla内核*/
    -moz-transition: color 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: color 0.5s ease;
    /*Opera*/
    -o-transition: color 0.5s ease;
    /*W3C 标准*/
    transition: color 0.5s ease;
}
.inner_bottom a:hover{
    color: #333;
    text-decoration: none;
}

.index_main_objectrecommend {
    margin-top: 50px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.index_main_messageleave {
    margin-top: 50px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.index_main_friendlink {
    margin-top: 50px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.friend_botton_left{
    top: 150px;
    left: 8px;
}

.friend_botton_right{
    left: 1169px;
    top: 70px;
}

div[class^="friend_botton_"]{
    width: 20px;
    height: 80px;
    position: relative;
    z-index: 3;
    text-align: center;
    line-height: 80px;
    color: #ddd;
    border: 1px solid #fff;
    border-radius: 2px;
    /*Mozilla内核*/
    -moz-transition: all 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: all 0.5s ease;
    /*Opera*/
    -o-transition: all 0.5s ease;
    /*W3C 标准*/
    transition: all 0.5s ease;
    
}
div[class^="friend_botton_"]:hover{
    background-color: #eee;
    cursor: pointer;
    color: #aaa;
    text-shadow: 1px 1px 10px #111;
    border: 1px solid #eee;
}

.friendlink_firstpanel{
    overflow: hidden;
    position: relative;
    width: 2400px;
    left: 0px;
    top: -164px;
    /*Mozilla内核*/
    -moz-transition: all 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: all 0.5s ease;
    /*Opera*/
    -o-transition: all 0.5s ease;
    /*W3C 标准*/
    transition: all 1s ease;
}
.friendlink_firstpanel_{
    left: -1199px;
}

.index_main_friendlink_left{
    margin: 30px;
    height: 250px;
    text-align: center;
    line-height: 120px;
    /*Mozilla内核*/
    -moz-transition: opacity 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: opacity 0.5s ease;
    /*Opera*/
    -o-transition: opacity 0.5s ease;
    /*W3C 标准*/
    transition: opacity 0.3s ease;
}
.index_main_friendlink_left_{
    opacity: 0;
}

.index_main_friendlink_left span{
    font-size: 20px;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "楷体", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}
.index_main_friendlink_left p{
    position: relative;
    color: #bbb;
    margin: 0 auto;
    margin-top: 20px;
    width: 30px;
    padding: 8px 0px;
    border: 1px solid #bbb;
    border-radius: 20px;
    line-height:normal;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "楷体", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    background-color: #f9f9f9;
    z-index: 10;
    /*Mozilla内核*/
    -moz-transition: all 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: all 0.5s ease;
    /*Opera*/
    -o-transition: all 0.5s ease;
    /*W3C 标准*/
    transition: all 0.5s ease;
}
.index_main_friendlink_left p:hover{
    
    border: 1px solid #666;
    color: #666;
}



.index_main_friendlink_right{
    position:relative;
    left: 100px;
    top: -310px;
    height: 390px;
    background-color: #fff;
    /*Mozilla内核*/
    -moz-transition: all 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: all 0.5s ease;
    /*Opera*/
    -o-transition: all 0.5s ease;
    /*W3C 标准*/
    transition: left 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    z-index: -1;
    
    
}
.index_main_friendlink_right i{
    padding: 5px 3px;
    border-radius: 15px;
    position: relative;
    top: 15px;
    left: 255px;
    color: #aaa;
    border: 1px solid #fff;
    z-index: 20;
    /*Mozilla内核*/
    -moz-transition: all 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: all 0.5s ease;
    /*Opera*/
    -o-transition: all 0.5s ease;
    /*W3C 标准*/
    transition: all 0.5s ease;
}
.index_main_friendlink_right i:hover{
    border: 1px solid #666;
    color: #666;

}
.index_main_friendlink_right_{
    left: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255,255,255,0);
    opacity: 1;
    z-index: 0;
}

.index_main_friendlink_outer{
    padding: 30px;
    overflow: auto;
    position: relative;
    top: -15px;
    
}
.index_main_friendlink_single{
    margin: 2px 11px;
    height: 80px;
    width: 40%;
    float: left;
    text-align: center;
    border-radius: 8px;
    /*Mozilla内核*/
    -moz-transition: all 0.5s ease;
    /*Webkit内核*/
    -webkit-transition: all 0.5s ease;
    /*Opera*/
    -o-transition: all 0.5s ease;
    /*W3C 标准*/
    transition: all 0.5s ease;
}
.index_main_friendlink_single img{
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.index_main_friendlink_single span{
    height: 50px;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "楷体", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}

.index_main_friendlink_single:hover{
    box-shadow: 0px 0px 15px #ddd;
}
.b-bottom {
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 100%;
}

.index_main_panelbottom {
    width: 1200px;
    padding-top: 460px;
    position: absolute;
}

.index_main_panelbottom i {
    font-size: 12px;
    text-decoration: none;
    margin: 0 5px;
    /*Mozilla内核*/
    -moz-transition: text-shadow 0.3s ease, color 0.3s ease;
    /*Webkit内核*/
    -webkit-transition: text-shadow 0.3s ease, color 0.3s ease;
    /*Opera*/
    -o-transition: text-shadow 0.3s ease, color 0.3s ease;
    /*W3C 标准*/
    transition: text-shadow 0.3s ease, color 0.3s ease;
    color: rgba(200, 200, 200, .6);
}

.i_active {
    text-shadow: 0px 0px 3px #fff;
}


/*
.i_active{
    border: 3px solid rgba(255,255,255,0.9);
}
*/

.bb-inner .bb-i-l {
    margin: 0 auto;
    line-height: 100px;
    text-align: center;
}

.bb-inner .bb-i-l span {
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    display: inline-block;
    line-height: 1.4em;
    vertical-align: middle;
}
