.article_main{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.article_main a{
    color: #999;
}
.article_main a:hover{
    
    color: coral;
    text-decoration: none;
    cursor: pointer;
    
}
.article_main_directory{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "黑体", sans-serif;
    padding: 20px 0px;
    line-height: 40px;
    
}
.article_main_directorytop{
    
    border-top: 1px dashed #ddd;
}
.article_main_directorybottom{
    
    border-bottom: 1px dashed #ddd;
}
.article_main_directory a{
    border: 1px dashed #fff;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    
}
.article_main_directory a:hover{
    border: 1px dashed #aaa;
    color:purple;
}

.article_name{
    
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "楷体", sans-serif;
    padding-bottom: 10px;
    padding-top: 30px;
    
}

.article_introduce{
    width: 70%;
    text-align: center;
    margin: 10px auto;
    padding: 10px 0px;
    font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "楷体", sans-serif;
}

.article_author{
    
    
    
}

.article_content{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "楷体", sans-serif;
    font-size: 16px;
    line-height: 1.0em;
    padding: 60px 0px;
}

.article_review_content{
    border-top: 1px solid #aaa;
    margin-top: 50px;
    padding: 50px 0;
    margin-bottom: 50px;
}
