@media screen and (min-width:1200px){
    .blog_main{
        width: 1000px;
        margin: 0 auto;
        margin-top: 10px;
        overflow:auto;
    }
    .blog_content{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        float: left;
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        box-shadow: 0px 0px 1px #ddd; 
    }
    .blog_rightmenu i{
        color: #ddd;
        padding: 2px 2px;
        position: relative;
        top: 10px;
        left: 95%;
        border: 1px solid #ddd;
        /*Mozilla内核*/
        -moz-transition:all 0.2s ease;
        /*Webkit内核*/
        -webkit-transition:all 0.2s linear;
        /*Opera*/
        -o-transition:all 0.2s linear;
        /*W3C 标准*/
        transition:all 0.5s ease;
    }
    .blog_rightmenu i:hover{
        
        border-color:blueviolet;
        cursor: pointer;
        color: blueviolet;
        
    }
    
    .blog_content_header{
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC","幼圆",sans-serif;
        text-align: center;
        margin: 10px auto;
        width:  400px;
    }
    .blog_content_header span{
        font-size: 25px;
    }
    .blog_content_mid1{
        border-top: 1px solid #ddd;
        padding: 2px 0px 0px;
        width: 260px;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 12px;
    }
    .time{
        text-align: center;
    }
    .views{
        text-align: center;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
        margin: 0 10px;
        padding: 0 10px;
    }
    .reviews{
        text-align: center;
    }
    
    .groupby{
        width: 260px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 2px;
        border-bottom: 1px solid #ddd;
    }
    .groupby span:hover{
        color: chocolate;
        cursor: pointer;
    }
    .tags{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .tag{
        width: auto;
        float: left;
        margin-left: 10px;
        border-radius: 40px;
        padding: 0px 10px;
        background-color:#6CB33E;
        /*Mozilla内核*/
        -moz-transition:box-shadow 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:box-shadow 0.2s linear;
        /*Opera*/
        -o-transition:box-shadow 0.2s linear;
        /*W3C 标准*/
        transition:box-shadow 0.2s linear;
    }
    .tag:hover{
        cursor: pointer;
        box-shadow: 0px 0px 6px #888;

    }
    .tag li{
        color: white; 
    }
    .blog_content_main{
        padding: 20px 80px 50px 80px;
        font-size: 14px;
        line-height: 2.5em;
        Letter-spacing:0.2em;
    }
    .blog_content_main span{
    }
    
    .article_main_directory{
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "黑体", sans-serif;
        padding: 20px 0px;
        line-height: 40px;

    }
    .article_main_directorytop{
        border-top: 1px dashed #ddd;
    }
    .article_main_directorybottom{
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
        text-align: left;
    }
    .article_main_directory a{
        border: 1px dashed #fff;
        transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;

    }
    .article_main_directory a:hover{
        border: 1px dashed #aaa;
        color:purple;
        cursor: pointer;
        text-decoration: none;
    }
    
    .blog_review{
        width: 1000px;
        margin: 30px auto;
        box-shadow: 0px 0px 9px #ddd; 
        overflow: auto;
        background-color: #f8f8f8;
    }
    .blog_review_write{
        margin: 0px 20px;
        margin-top: 20px;
        border: 1px solid #f8f8f8;
        height: 100px;
        background-color: #f8f8f8;
    }
    .review_w_header{
        height: 80px;
        width: 80px;
        margin: 0 0;
        padding: 10px;
        float: left;
    }
    .review_w_hpic{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin: 0px 10px;
        margin-bottom: 6px;
        box-shadow: 0px 0px 3px #aaa; 
        text-align: center;
        line-height: 60px;
        font-family: "幼圆", sans-serif;
        /*Mozilla内核*/
        -moz-transition:box-shadow 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:box-shadow 0.2s linear;
        /*Opera*/
        -o-transition:box-shadow 0.2s linear;
        /*W3C 标准*/
        transition:box-shadow 0.2s linear;
    }
    .review_w_hpic:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px #aaa; 
    }
    .review_w_hpic span{
        color: #888;
        font-size: 20px;
    }
    .review_w_reviewer{
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        text-align: center;
    }
    
    
    .review_w_main {
        border: 1px solid #ddd;
        margin-top: 17px;
        margin-left: 120px;
        margin-right: 20px;
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 12px;
    }

    .review_w_main:before {
        content: '';
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        top: 14px;
        left: -7px;
        border: 1px solid #ddd;
        border-width: 0 0 1px 1px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #f8f8f8;
    }

    .review_w_main textarea {
        background-color: #f8f8f8;
        font-size: 12px;
        position: relative;
        display: block;
        width: 100%;
        height: 65px;
        padding: 4px 10px;
        margin: 0;
        border: 0;
        resize: none;
        font-family: inherit;
        color: #111;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

    .review_w_main textarea:focus {
        outline: 0;
        
    }
    .review_w_button{
        margin-top: 5px;
        margin-left: 120px;
        margin-right: 35px;
        text-align:right;
    }
    .review_w_button span{
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    }
    .review_w_button span:hover{
        color: darkred;
        cursor: pointer;
    }
    
    .blog_review_readers{
        margin: 20px 0px 0px; 
        padding : 30px 20px 30px 20px;
        border-top: 1px solid #eee;
        background-color: #fff;
        float: left;
    }
    .blog_review_reader{
        width: 100%;
        float: left;
    }
    .blog_review_reader_out{
        background-color: #fefefe;
        box-shadow: 0px 0px 1px #aaa;
        /*Mozilla内核*/
        -moz-transition:box-shadow 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:box-shadow 0.2s linear;
        /*Opera*/
        -o-transition:box-shadow 0.2s linear;
        /*W3C 标准*/
        transition:box-shadow 0.2s linear;
        overflow: auto;
        margin-bottom: 20px;
        position: relative;
    }
    .blog_review_reader_out:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px #aaa; 
    }
    
    .review_r_header{
        height: 80px;
        width: 80px;
        margin: 0 0;
        padding: 10px;
        float: left;
    }
    .review_r_main{
        margin-top: 10px;
        margin-left: 120px;
        margin-right: 30px;
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 12px;
        overflow: auto;
        letter-spacing: 0.1em;
    }
    
    .review_r_content{
        font-size: 12px;
        position: relative;
        display: block;
        float: left;
        width: 100%;
        font-family: inherit;
        color: #111;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding-bottom: 5px;
        margin-bottom: 50px;
        
    }
    .review_r_time_{
        margin-left: 120px;
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 12px;
        overflow: auto;
        position: absolute;
        bottom: 0px;
        width: 84%;
        
    }
    .review_r_time{
        padding: 10px 0px;
        border-top:1px solid #eee;
        height: 20px;
        width: 33.3%;
        float: left;
        color: #666;
    }
    .review_r_time span{
        /*Mozilla内核*/
        -moz-transition:color 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:color 0.2s linear;
        /*Opera*/
        -o-transition:color 0.2s linear;
        /*W3C 标准*/
        transition:color 0.2s linear;
        
    }
    .review_r_time i{
        /*Mozilla内核*/
        -moz-transition:color 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:color 0.2s linear;
        /*Opera*/
        -o-transition:color 0.2s linear;
        /*W3C 标准*/
        transition:color 0.2s linear;
        font-size: 13px;
    }
    
    .review_r_time span:hover{
        color: coral;
    }
    .review_r_time i:hover{
        color: coral;
        font-size: 13px;
    }
    
    .blog_right:hover{
        
        box-shadow: 0px 0px 30px #ccc; 
    }
    .blog_right{
        background-color: #fff;
        position: absolute;
        z-index: 2px;
        margin-top: 10px;
        width: 250px;
        margin-right: 20px;
        box-shadow: 0px 0px 30px #ddd; 
        /*Mozilla内核*/
        -moz-transition:box-shadow 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:box-shadow 0.2s linear;
        /*Opera*/
        -o-transition:box-shadow 0.2s linear;
        /*W3C 标准*/
        transition:box-shadow 0.2s linear;
        display: none;
    }
    .blog_right_currenttags{
        padding-bottom: 15px;
        padding-top: 20px;
        /*Mozilla内核*/
        -moz-transition:all 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:all 0.2s linear;
        /*Opera*/
        -o-transition:all 0.2s linear;
        /*W3C 标准*/
        transition:all 0.2s linear;
        
    }
    .blog_right_currenttags:hover{
        box-shadow: 0 0 20px #eaeaea inset;
        background-color: #fff;
    }
    
    
    .currentname{
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato', "PingFang SC", "黑体", sans-serif;
        text-align: center;
        padding: 5px 0px 5px;
        color: #666;
        border-bottom: 2px dotted #eee;
    }
    .currentname:hover{
        color: chocolate;
        cursor: pointer;
    }
    .currenttags{
        width: 90%;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    .currenttags a{
        padding: 0px 25px 2px 25px;
        border-radius: 10px;
        border: 1px solid #ccc;
        color: #aaa;
        line-height: 25px;
        
        /*Mozilla内核*/
        -moz-transition:all 0.3s linear;
        /*Webkit内核*/
        -webkit-transition:all 0.3s linear;
        /*Opera*/
        -o-transition:all 0.3s linear;
        /*W3C 标准*/
        transition:all 0.3s linear;
    }
    .currenttags a:hover{
        cursor: pointer;
        color: blueviolet;
        border-color:blueviolet;
        text-decoration: none;
        
    }
    .blog_right_alltags{
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0 auto;
        border-bottom: 1px solid #eeeeee;
        border-top:  1px solid #eeeeee;
        
        
        /*Mozilla内核*/
        -moz-transition:all 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:all 0.2s linear;
        /*Opera*/
        -o-transition:all 0.2s linear;
        /*W3C 标准*/
        transition:all 0.2s linear;
    }
    .blog_right_alltags:hover{
        box-shadow: 0 0 50px #eaeaea inset;
        background-color: #fff;
    }
    
    
    .blog_right_allgroupby{
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0px auto;
        /*Mozilla内核*/
        -moz-transition:all 0.2s linear;
        /*Webkit内核*/
        -webkit-transition:all 0.2s linear;
        /*Opera*/
        -o-transition:all 0.2s linear;
        /*W3C 标准*/
        transition:all 0.2s linear;
        
        
    }
    .blog_right_allgroupby:hover{
        box-shadow: 0 0 50px #eaeaea inset;
        background-color: #fff;
    }
    .blog_right_allgroupby .currenttags_{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        padding-bottom: 5px;
    }
    .blog_right_allgroupby .currenttag{
        text-align: center;
        color: #aaa;
        font-family: "Helvetica Neue", Helvetica, Arial,'Lato',"黑体", sans-serif;
        padding: 0px 10px;
        border-radius: 15px;
        margin-bottom: 5px;
        border: 1px solid #fff;
        /*Mozilla内核*/
        -moz-transition:color 0.2s;
        /*Webkit内核*/
        -webkit-transition:color 0.2s linear;
        /*Opera*/
        -o-transition:color 0.2s linear;
        /*W3C 标准*/
        transition:color 0.2s linear;
    }
    .blog_right_allgroupby .currenttag span{
        margin-left: 6px;
    }
    
    
    .blog_right_allgroupby a{
        width: 100%;
    }
    .blog_right_allgroupby .currenttag:hover{
        cursor: pointer;
        color:blueviolet;
        border-color: blueviolet;
    }
}

@media screen and (min-width:980px) and (max-width:1199px){
    .blog_main{
        width: 900px;
        margin: 0 auto;
        background-color:aquamarine;
    }
    .blog_content{
        height: 100px;
        background-color:#ddd;
        width: 700px;
    }
}
@media screen and (min-width:768px) and (max-width:979px){
    .blog_main{
        width: 700px;
        margin: 0 auto;
        background-color:aquamarine;
    }
    .blog_content{
        height: 300px;
        background-color:#ccc;
        width: 500px;
    }
}
@media screen and (min-width:480px) and (max-width:767px){
    .blog_main{
        width: 400px;
        margin: 0 auto;
        background-color:aquamarine;
    }
    .blog_content{
        height: 400px;
        background-color:#bbb;
        width: 400px;
    }
}
@media screen and (max-width:479px){
    .blog_main{
        margin: 0 auto;
        width: 300px;
        background-color:aquamarine;
    }
    .blog_content{
        height: 500px;
        background-color:#aaa;
        width: 300px;
    }
}
    